* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 5px;
}
header {
    margin-bottom: 50px;
    padding: 10px;
    display: grid;
    place-items: center;
}
h1 {
    margin: 10px 0px;
}
section {
    margin-top: 20px;
    display: flex;
}
article {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    margin: 10px 0px;
}
.card__img{
    width: 200px;
}
